@{
    ViewData["Title"] = "Add New Group";
}

<form asp-action="AddNewGroup">
    <input type="text"  name="GroupName"/>
    <input placeholder="Key" name="Key" type="text"/>
    <input type="submit" class="btn btn-primary"/>
</form>