<form asp-action="JoinToGroup">
    <input placeholder="Group Name" type="text"  name="groupName" required/>
    <input placeholder="Key" type="text" name="key" required/>
    <input type="submit" class="btn btn-primary"/>
</form>